<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>858360780641-t6v8d827257aq5cl93e3a5mphrght57s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858360780641-t6v8d827257aq5cl93e3a5mphrght57s</string>
	<key>API_KEY</key>
	<string>AIzaSyDufnnk4EgkTVSws4ToaoSeBSsGIfLVaa4</string>
	<key>GCM_SENDER_ID</key>
	<string>858360780641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ajaymerchia.mdb-ios-mp5-message-my-friends</string>
	<key>PROJECT_ID</key>
	<string>message-my-friends</string>
	<key>STORAGE_BUCKET</key>
	<string>message-my-friends.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858360780641:ios:a7fa92e018ae6cd7</string>
	<key>DATABASE_URL</key>
	<string>https://message-my-friends.firebaseio.com</string>
</dict>
</plist>